version: '3.4'
services:
  webdisk:
    container_name: webdisk
    image: myubuntu:latest
    volumes:
      - /var/www/webdisk/:/var/www/webdisk/
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=test
    ports:
      - 4000:4000
    privileged: true
    networks:
      - disknet
    command: tail -f /dev/null

networks:
  disknet:
    external: true
