version: '3.4'
services:
  webdisk:
    container_name: webdisk
    image: webdisk:1.0
    volumes:
      - /var/www/webdisk/:/var/www/webdisk/
      - /home/webdisk/:/home/webdisk/
      - /var/log/:/var/log/
    restart: always
    environment:
      - MYSQL_PASSWORD=e#zPpPvNi33*8J3C
      - DB_HOST=mariadb
      - DB_PORT=3306
      - ADMIN_PASS=c59ykW*k2xm8&TS&
    ports:
      - 4000:4000
    privileged: true
    networks:
      - disknet

networks:
  disknet:
    external: true
