version: '3.4'
networks:
  disknet:
    external: true

services:
  mariadb:
    container_name: mariadb
    restart: always
    networks:
      - disknet
    environment:
      - MYSQL_ROOT_PASSWORD=e#zPpPvNi33*8J3C
      - LANG=C.UTF-8
    image: "mariadb:10.7"
    privileged: true
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    ports:
      - "9306:3306"
    volumes:
#      - ./mysql/init:/docker-entrypoint-initdb.d/
      - /home/mysql/conf/mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
      - /home/mysql/data:/var/lib/mysql
      - /etc/localtime:/etc/localtime
