server {
    client_max_body_size 4G;
    listen 7777;

    location /disk {
        proxy_pass http://localhost:4000/disk;
    }

    location / {
#        rewrite ^.*$ /disk/index redirect;
        alias /var/www/diskfront/;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

#    location /download {
#        alias /home/webdisk;
#    }
}