<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<div class="file-cells">
    {% for f in files %}
        <div class="class-file">
            <p>
              {{ f.created_time }}  | {{ f.name }} | {{ f.readable_size }} | <a href="{{ f.url }}" download="{{ f.name }}">下载</a>
            </p>
        </div>
    {% endfor %}
</div>
{#<div class="inner">#}
{#    <form method="post"#}
{#          action="{{ url_for('disk.upload') }}"#}
{#          enctype="multipart/form-data">#}
{#        <input type="file" name="file" id="id-file">#}
{#        <input type="text" name="size" id="id-size" hidden>#}
{#        <button type="submit" class="span-primary submit_btn">上传</button>#}
{#    </form>#}
{#</div>#}

<div>
    <label>
        <input type="file" name="file" id="id-file-input">
        {#        <input type="text" name="size" id="id-file-size" hidden>#}
        <button type="button" id="file-upload-button">上传文件</button>
    </label>
</div>
</body>
<script>
    var log = console.log.bind(console, new Date().toLocaleDateString())

    var e = function (selector) {
        return document.querySelector(selector)
    }
    {#var fileInput = e('#id-file-input')#}
    {#fileInput.onchange = function () {#}
    {#    var file = fileInput.files[0]#}
    {#    var size = file.size#}
    {#    var sizeInput = e('#id-file-size')#}
    {#    console.log(size)#}
    {#    sizeInput.value = size#}

    var fileTempalate = function (time, filename, size, url) {
        return `
        <div class="class-file-cell">
            <span>${time} | ${filename} | ${size} | <a href="${url}" download="${filename}">下载</a></span>
        </div>
    `
    }


    var ajax = function (method, path, data, responseCallback) {
        log('ajax request', method, path, data, responseCallback)

        var r = new XMLHttpRequest()
        r.open(method, path, true)
        {#r.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=utf-8')#}

        // response callback
        r.onreadystatechange = function () {
            if (r.readyState === 4) {
                log('ajax response data', r.response)
                var r_data = JSON.parse(r.response)
                responseCallback(r_data)
            }
        }

        var form = new FormData()
        for (var key in data) {
            // 规范写法
            if (!data.hasOwnProperty(key)) continue;
            if (data[key] instanceof File) {
                log('is file')
                let f = data[key]
                {#var blob = new Blob([f], { type: f.type})#}
                form.append(key, f)
                form.append('size', f.size)
            } else {
                form.append(key, JSON.stringify(data[key].size))
            }
        }
        r.send(form)
    }

    var callback = function (message) {
        log(message);
        var fileCell = fileTempalate(message.time, message.filename, message.size, message.url)
        var fileCells = e('.file-cells')
        fileCells.insertAdjacentHTML('beforeend',fileCell)
    }

    var upb = e("#file-upload-button")
    upb.onclick = function () {
        var fileInput = e('#id-file-input')
        var file = fileInput.files[0]

        var data = {
            "file": file,
        }
        ajax("POST", '/disk/upload', data, callback);
    }

</script>
</html>